/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html , body{
	width: 100%;
	height: 100%;
}
body{
	display: none;
}
#sect1, #sect2{
	position: relative;
	width: 100%;
	height: 100%;
	
}
#sect1{
	background: url(../img/Logo.jpg) center no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#sect2{
	background: url(../img/bckgrnd2.jpg)center no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}















