
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@font-face{
	font-family: topH;
	src: url(../../../fonts/AdineKirnber-Script.ttf);
}


.noscrl{
	overflow: hidden;
}
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	/*background: #EEE8AA; */
	background-color: #EEE8AA;
}
.clear{
	display: none !important;
}

.top_alignment{	
	width: 100%;
	height: 100%;
	background: url(../../../img/img33.jpg) center no-repeat;
	-webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
  	background-size: cover;	
	height: 760px;	
}
h1{
	font-family: 'lobster', cursive;
	text-transform: uppercase;
	text-align: center;
	font-size: 6em;
}
.title_top{
	margin-top: 65px;
	display: block;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.cent_align{
	padding-top: 18%;
	height: 100%;
}
.top_alignment h1{
	margin-top: 0;
}
.cent_align h1, .btn_align{
	color: white;
}
ul .sneaky{
	position: absolute;
	display: block !important;
	margin-top: -1px !important;
	margin-left: -9px !important;
	background: initial !important;
	z-index: 1001;

	
}
.sneaky li:nth-child(1), .sneaky li:nth-child(2) {
	border-bottom: 2px solid black;
}
.sneaky li{
	background: hsla(53, 85%, 55%, 0.55) !important;
	-ms-transition: background 0.55s linear 0s, color 0.55s linear 0s !important;
-moz-transition: background 0.55s linear 0s, color 0.55s linear 0s !important;
-webkit-transition: background 0.55s linear 0s, color 0.55s linear 0s !important;
transition: background 0.55s linear 0s, color 0.55s linear 0s !important;
z-index: 1001;
}
.sneaky li:hover{
	background: #fff !important;
}


.btn_align{
	background-color: hsla(0, 5%, 95%, 0.25);
	display: flex;
	justify-content: center;
	margin-left: 45%;
	margin-right: 45%;
	height: 50px;
	border: 5px solid white;
	-ms-transition: background 0.3s linear 0s, color 0.3s linear 0s;
-moz-transition: background 0.3s linear 0s, color 0.3s linear 0s;
-webkit-transition: background 0.3s linear 0s, color 0.3s linear 0s;
transition: background 0.3s linear 0s, color 0.3s linear 0s;
}
.cent_align h1{
	font-family: topH;
	background-color: hsla(0, 5%, 95%, 0.55);
	color: hsla(145, 5%, 35%, 0.76);
}
.btn_align b{
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	text-transform: uppercase;
}
.btn_align:hover{
	background: white;
	color: black;
}
.btn_align a{
	text-decoration: none;
	color: black;
}
/*Menu*/
nav#menu {

	background: #fff;
	text-align: center;
	height: 50px;
	width: 100%;
	z-index:9999;
}
#menu li#view{
	display: none;
	-ms-transition: display 5s linear 5, ease-in-out;
	-moz-transition: display 5s linear 5s, ease-in-out;
	-webkit-transition: display 5s linear 5s, ease-in-out;
	transition: display 5s linear 5s, ease-in-out;
}
nav#menu ul{

	padding: 0;
	background: black;
	margin: 0 auto;
	display: inline-block;
	height: 50px;
}
nav#menu ul li{
	float: left;

	padding: 0 20px;
	background: white;
	list-style: none;
	margin-right: 5px;
	line-height: 50px;
	height: 50px;
	-ms-transition: margin 0.1s ease-in-out;
	-moz-transition: margin 0.1s ease-in-out;
	-webkit-transition: margin 0.1s ease-in-out;
	transition: margin 0.1s ease-in-out;
	position: relative;
}
nav#menu ul li:nth-child(1){
	margin-left: 5px;
}
nav#menu ul li.active{
	background: #778899;
}
nav#menu ul li b{
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	font-size: 1.3em;
	font-family: topH;

}
nav#menu ul li a{
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	font-size: 1.3em;
	font-family: topH;
	display: block;
	
}
nav#menu li#view{
	-ms-transition: display 0.1s ease-in-out;
	-moz-transition: display 0.1s ease-in-out;
	-webkit-transition: display 0.1s ease-in-out;
	transition: display 0.1s ease-in-out;
	cursor: pointer;

}

nav#menu.scrolled{
	margin: 0;
	background-color: hsla(65, 5%, 5%, 0.76);
	position: fixed;
	top: 0;
}

#menu.scrolled li#view{
	display: block;
}
nav#menu.scrolled ul li{
	margin: 0;
}
li#actsect {
	cursor: pointer;
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	font-size: 1.3em;
	font-family: topH;
	display: block;
}
/*end of menu*/

.box_container{
	width: 100%;
	height: 100%;
}

/*contact css*/

.page_cover{
	position: fixed;
	top: 0;
	left: 0;
	
	background: hsla(0, 5%, 15%, 0.7);
	padding-top: 95px;
	width: 100%;
	height:100%;
	display: none;
	z-index: 90000;
}


.contactSect{
	margin-right: 25%;
	margin-left: 25%;
	
}
.contactSect h1{
	display: block;
	font-size: 74px;
	font-family: 'lobster', cursive;
	text-align: center;
	margin-bottom: 50px;
	color:#ccc;
	text-shadow: 1px 1px 0px #000;
}
.contactSect h4{
	display: block;
	font-size: 34px;
	font-family: 'lobster', cursive;
	text-align: center;
	color: #ccc;
	text-shadow: 1px 1px 0px #000;
	margin-bottom: 50px;
}
.text{
	float: right;
}
input, textarea{
	padding: 5px 0;
	border: none;
	outline: 0;
	font:normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
	background: transparent;
	border-bottom: 1px dotted #fff;
	color: #fff;
	margin-bottom: 10px;
	text-shadow: 1px 1px 0px #000;
}
textarea{
	padding: 10px;
	width:400px;
	height: 250px;
	line-height: 150%;
	background: rgba(255, 255, 255, 0.1);
	border: none;
}
.gyp{
	z-index: 90000;
	font-size: 34px;
	border: 3px solid white;
	color: white;
	cursor: pointer;
}
span.gyp{
	
	float: right;

}
.form label{
	margin-left: 10px;
	color: #fff;
}
.submit input{
	margin: 10px 0;
	width: auto;
	padding: 9px 15px;
	background: rgba(255,255,255, 0.1);
	font-size:13px;
	color: #ddd;
	border: 1px solid rgba(255,255,255, 0.1);
	cursor: pointer;
}
.submit input:hover{
	background: rgba(255,255,255,0.4);
	/*changes the shadow around the box.. play around with it */
	-webkit-box-shadow: rgba(0,0,0, 0.6) 0px 0px 5px;
	-mos-box-shadow: rgba(0,0,0, 0.6) 0px 0px 5px;
	-ms-box-shadow: rgba(0,0,0, 0.6) 0px 0px 5px;
	-o-box-shadow: rgba(0,0,0, 0.6) 0px 0px 5px;
	box-shadow: rgba(0,0,0, 0.6) 0px 0px 5px;
}
.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -ms-animation-delay: .3s;
    -o-animation-delay: .3s;
}

.animated.hinge {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    };
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    };
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    };
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    };
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
/*end of menu*/


/*gallery style layout */
/*for this gallery all images have to be the same size or the gallery breaks */
/*This gallery breaks in IE and firefox*/
.g_contain{
	width:100%;
	height: 100%;
}
.gallery * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  	  -ms-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

.gallery {
	width: 100%;
	height: auto;
	
}

.gallery li {
	width: 25%;
	position: relative;
	float: left;
	overflow: hidden;
}

.transform {
	-webkit-transition: all .25s cubic-bezier(.2, .31, .36, 1);
		-ms-transition: all .25s cubic-bezier(.2, .31, .36, 1);
       -moz-transition: all .25s cubic-bezier(.2, .31, .36, 1);
	     -o-transition: all .25s cubic-bezier(.2, .31, .36, 1);
	        transition: all .25s cubic-bezier(.2, .31, .36, 1);
}

.gallery .a {
	width: 100%;
	height: 100%;
	display: block;
	
}
/*Something with the images or whatever is causing there to be gap when mouse swipped over image from a right direction*/
.gallery img {
	position: relative;
    width: auto\9;
    height: auto;
    width: 100%;
    height: 30%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    -webkit-backface-visibility: hidden;
    	-ms-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
    		backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    	-ms-transform: translateZ(0);
       -moz-transform: translateZ(0);
    		transform: translateZ(0);
}

.gallery .info {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	background:  #EEE8AA;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-transform: translateZ(0);
    	-ms-transform: translateZ(0);
   	        transform: translateZ(0);
}

.gallery .title {
	
	font-weight: bold;
	font-size: 20px;
    color: rgb(43, 43, 43);
    position: relative;
    top: 43%;
}



