html , body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	display: none;
}
#sect1, #sect2{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 1%;
}
.intro{	
	background: url(../img/img4.jpg) center no-repeat;
		-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
#intro_text{

	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	margin-bottom: 20%;
}
.title_cent h1{
	font-size: 12vw;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 2px 2px black;
	color: white;
}
#intro_btnpos{
	text-align: center;
}














