/*fieldset{
	margin-top: 100px !important;
}*/
form.login1{
	margin-top: 100px;
}
div.front1{
	margin-top: 100px;
}
div.front1 a{
	text-decoration: none;
}
a#sp_submit{
	text-decoration: none;
}
/*#sp_submit button{
	margin: 0;
}*/
div#i_contact{
	width: 240px !important;
}
#i_contact a{
	text-decoration: none ;
}
#i_contact h4,#i_contact h5,#i_contact p,#i_contact address {
	text-align: center;
}
#frgt_psw{
	margin-right: 20px;
	float: right;
}
.ui-block-b{
	margin-left: 25%;
margin-right: 25%;
}
.ui-block-a{
	margin-left: 25%;
margin-right: 25%;
}
#indx_head h3{
	text-align: center;
	color: #80ff00;
}
form.login1{
	margin-top: 50px ;
}
li a img{
	height: 80px !important;

}
.uP_UserInfo{
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 30px;
}
.p_lbl{
	margin-top: 20px !important;
	margin-bottom: 50px !important;
}
.index_Text h4{
	margin-bottom: 0px;
	text-align: center;

}
.front1 .ui-block-b{
	margin-bottom: 10px;
}